:root {
  --backgraund-color-white: #fff;
  --background-color-dark: #191c26;
  --background-color-grey: #f7f7f7;

  --primary-text-color: #303030;
  --secondary-text-color: #555555;
  --white-text-color: #fff;
  --before-title-color: #9da4bd;

  --accent-color: #ff6c00;

  --btn-color-white: #fff;
  --btn-color-secondary: #303030;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  transition: background-color 250ms linear, color 200ms linear;
}

.primary-btn {
  color: var(--btn-color-white);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--accent-color);
}

.secondary-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--btn-color-secondary);

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--accent-color);
  color: var(--btn-color-white);
}
/* ----------------------------------- HEADER ----------------------------- */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-item-link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;

  color: var(--white-text-color);

  transition: color 250ms linear;
}

.header-contact-link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;

  color: var(--white-color);
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--accent-color);
}

.header-link-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.header-connect {
  margin-left: auto;
}

.header-btn {
  margin-left: 60px;
}
/* ---------------------------------- HERO ------------------------ */

.hero-container {
  display: flex;
}

.hero-left-wrap {
  width: 93px;
  display: flex;
  align-items: flex-end;
}

.hero-items {
  display: flex;
  align-items: center;

  transform: rotate(-90deg) translate(-26px);
  transform-origin: top left;

  padding-left: 40px;
}

.hero-items::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;

  width: 60px;
  height: 1px;
  background-color: var(--btn-color-secondary);

  margin-right: 40px;
}

.hero-item:not(:last-child) {
  margin-right: 40px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--primary-text-color);

  transition: color 250ms linear;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-right-wrap {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: grey;

  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 96px;
}

.before-title {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);

  margin-bottom: 20px;
}

.pre-title::before {
  content: '';
  display: inline-block;

  width: 60px;
  height: 1px;

  margin-right: 20px;
}

.pre-title-light {
  color: var(--before-title-color);
}
.pre-title-light::before {
  background-color: var(--before-title-color);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;

  color: var(--white-text-color);

  margin-bottom: 20px;
}

.hero-after-title {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: #9da4bd;
}
/* ---------------------------------- ABOUT ------------------------ */

.about-items {
  display: flex;
  flex-shrink: 0;
  margin-right: 64px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-wrap {
  display: flex;
}

.before-title {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.pre-title-dark {
  color: var(--primary-text-color);
}

.pre-title-dark::before {
  background-color: var(--primary-text-color);
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.about-title {
  color: var(--primary-text-color);

  margin-bottom: 20px;
}

.about-after-title {
  font-size: 18px;

  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 40px;
}

/* ---------------------------------- PRICE ------------------------ */
.price {
  background-color: #111319;
  background-image: url(../img/price-bg.png);
  max-width: 1280px;
  margin: 0 auto;
}

.price-before-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--before-title-color);

  margin-bottom: 20px;
}

.price-title {
  color: var(--white-text-color);

  margin-bottom: 44px;
}

.price-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: var(--before-title-color);
}

.price-list-wrap {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.price-items {
  width: 50%;
  padding: 30px 40px;
}

.price-items:nth-child(odd) {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-items:nth-child(even) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-item::before {
  content: '';

  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-right: 6px;
  margin-left: 6px;

  flex-grow: 1;
}

.price-text:first-child {
  order: -1;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------------------- REASONS ------------------------ */
.reasons-container {
  display: flex;
  justify-content: space-between;
}

.reasons-left-wrap,
.reasons-right-wrap {
  width: calc((100% - 30px) / 2);
}

.reasons-left-wrap {
  display: flex;
  justify-content: center;
}
.reasons-items {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.reasons-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}

.reasons-item:nth-child(odd) {
  margin-right: 30px;
}

.reasons-item:nth-child(even) {
  margin-top: 30px;
}

.reasons-item-dif {
  padding: 20px;
}

.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  display: block;
  text-align: center;
  margin-bottom: 6px;
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: var(--primary-text-color);
}

.reasons-before-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  margin-bottom: 20px;
}
.reasons-title {
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
.reasons-after-title {
  font-size: 18px;
}

/* ---------------------------------- MASTERS ------------------------ */

.masters-before-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  margin-bottom: 20px;
}

.masters-title {
  margin-bottom: 44px;
  color: var(--primary-text-color);
}
.masters-items {
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}
.masters-item {
  width: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.masters-item-wrap {
  padding-top: 30px;
}

.masters-item-title {
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  margin-bottom: 8px;
}

.masters-item-subtitle {
  text-align: center;
  line-height: calc(19 / 14);
  color: var(--accent-color);

  margin-bottom: 30px;
}

.masters-socials-items {
  display: flex;
  justify-content: center;
}

.masters-socials-item:not(:last-child) {
  margin-right: 10px;
}

.masters-socials-link {
  width: 44px;
  height: 44px;
  background-color: var(--backgraund-color-white);
  color: var(--primary-text-color);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms linear;
}

.masters-socials-icon {
  fill: currentColor;
}

.masters-socials-link:hover,
.masters-socials-link:focus {
  color: var(--accent-color);
}

/* ---------------------------------- GALLERY ------------------------ */
.gallery-before-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  margin-bottom: 44px;
}

/* -----------------------------FORM CONTACT ------------------------ */

.contact-wrapper {
  background-color: #191c26;
  background-image: url(../img/onlineBg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(100% / 2 - 15px);
}

.contact-wrapper .container {
  display: flex;
}

.form {
  width: calc(100% / 2 + 15px);
  padding-right: 40px;
}

.form-title,
.contact-title {
  color: var(--white-text-color);

  margin-bottom: 44px;
}

.online-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.online-input {
  width: 260px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  outline: none;

  transition: border-color 500ms;
}

.online-input-long {
  width: 270px;
}

.online-text {
  width: 100%;
  height: 76px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  resize: none;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  outline: none;

  transition: border-color 500ms;

  margin-bottom: 44px;
}

.online-input::placeholder,
.online-text::placeholder {
  color: rgba(157, 164, 189, 0.4);
  transition: color 500ms;
}

.online-input:hover,
.online-input:focus,
.online-text:hover,
.online-text:focus {
  border-color: var(--btn-color-white);
}

.online-input:hover::placeholder,
.online-input:focus::placeholder,
.online-text:hover::placeholder,
.online-text:focus::placeholder {
  color: var(--btn-color-white);
}

.online-btn {
}

.contact {
  width: calc(100% / 2 - 15px);
}

/* ---------------------------------- FOOTER ------------------------ */
